h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: #110404;
  padding: 4px;
}

body {
  margin: 0;
  padding: 20px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.37), white);
  background-image: url(/img/fon-new.png);
}
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.text-footer {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.card-news {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bgc {
  background-color: #e5f5f8;
  display: flex;
}

.mes-err {
  display: flex;
  color: #ffa908;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.blog-header {
  border-bottom: 3px solid #e5e5e5;
}
.btn-news {
  background-color: rgba(13, 14, 56, 0.852);
}
.link {
  border: none;
  padding: 4px;
  background-color: inherit;
}
.error-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
