.box-header {
  display: flex;
  border-bottom: 3px solid #e5e5e5;
  line-height: 1.45;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.title-header {
  padding: 10px;
  font-size: 20px;
  line-height: 1.18;
  font-weight: 600;
}
